html {
  font-size: 16px;
}

body {
  min-width: 100%;
  width: 100%;
  margin: 0;
}

li {
  list-style: none;
}

.app-content-container, .app-container {
  width: 80vw;
  max-width: 80vw;
  margin: auto;
}

.app-content-container {
  margin: 60px auto 1rem auto;

  img {
    max-width: 100%;
  }
}

.app-title {
  font-family: 'Sacramento', cursive;
  font-size: 4em;
  color: darken($primary, 10);
}

/* Sticky Footer */

html, body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Other */

.app-clearfix {
  zoom: 1;
  clear: both;
}

::-webkit-scrollbar {
  display: none;
}
