/// Mixin to prefix several properties at once
/// @param {Map} $declarations - Declarations to prefix
/// @param {List} $prefixes - List of prefixes to print
/// The standard declaration goes first, so it won't be removed on compilation
$prefixed_values: ('position');
@mixin prefix($declarations, $prefixes: ('', 'webkit', 'moz', 'ms', 'o')) {
  @each $property, $value in $declarations {
    @if('' in $prefixes) {
      #{$property}: $value;
    }

    @if(index($prefixed_values, $property) != null) {
      @each $prefix in $prefixes {
        @if($prefix != '') {
          $property: #{'-' + $prefix + '-' + $value};
        }
      }
    } @else {
      @each $prefix in $prefixes {
        @if($prefix != '') {
          #{'-' + $prefix + '-' + $property}: $value;
        }
      }
    }
  }
}

@mixin border-radius($radius: 20px) {
  @include prefix((
    border-radius: $radius
  ))
}

@mixin rounded {
  @include border-radius(50%);
}

@mixin image($img) {
  background-image: url($img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin box-shadow($shadow) {
  @include prefix((
    box-shadow: $shadow
  ))
}

@mixin highlighted-round-image {
  @include rounded;
  @include box-shadow(0 0 3rem rgba(0, 0, 0, 0.8));

  &:hover {
    @include box-shadow(none);
  }
}
